

body {
  position: relative;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

main {
  max-width: 1200px;
  margin: 3em auto;
}

header {
  background: #868080;
  text-align: center;
  padding: 2em;
}

header img {
  max-width: 96px;
}

header h1 {
  font-size: 2.5em;
}

h1, h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

.new-member-form {
  margin: 2em 0 4em 0;
  text-align: left;
  margin: auto;

}

.member-list{
  border: 1px solid black;
  width: 80%;
  padding-top: 2em;
  margin: auto;
  /* text-align: center; */
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 100vw;
  margin-top: 2em;
  text-align: center;
  color: #fff;
  background: #f76c6c;
  padding: 0.25em 0;
}

.icon{
  border: none;
  background: none;
}

.send{
  background: #f0f0f0;
  border-radius: 0;
  padding: 0.1em 0.25em;
}